/* Applies to entire website */
*{
    box-sizing: border-box;
}

/* Website Header */ 
header {
    background-color: hsl(215, 100%, 60%);
    color: hsl(0, 0%, 0%);
    text-align: left;
    padding: 25px;
}

body {
    margin: 0;
    background-color: hsl(204, 100%, 100%);
    text-align: center;

}


/* Navigation Bar Class */

.navbar ul {
    list-style-type: none;
    background-color: hsl(215, 100%, 70%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    color: hsl(0, 0%, 0%);
    text-decoration: none ;
    font-family: Verdana, Arial;
    font-weight: bold;
    padding: 15px;
    display: block;

}

.navbar a:hover{
    background-color: hsl(215, 100%, 75%);
}

.navbar li{
    float: left;
}

/* Main webpage logos*/

.logo {
    display: inline-block;
    border: 1px solid hsl(0, 0%, 60%);
    margin: 5px;
    width: 200px;
}

.logo .description{

    padding: 10px;
    text-align: center;
}

.logo:hover{

    border: 1px solid hsl(0, 0%, 30%);
}

.logo img{
    width: 100%;
    height:auto;
}
/* Other stuff */

aside {
    width: 20%;
    float: left;
    padding: 10px;
}
section {
    width: 80%;
    float: left;
    padding: 10px;
}

footer {
    display: block;
    clear: both;
    background-color: hsl(212, 100%, 75%);
    text-align: center;
    padding: 25px;
}

h1 {
    margin-bottom: 0px ;
    font-family: Verdana, Arial ;
    font-size: 34px;
    font-weight: bold;
}

h3 {
    border-bottom: 3px solid black;

    margin-top: 10px;

    font-family: Verdana, Arial;
    font-size: 17px;
    font-style: italic;
}


@media screen and (max-width:600px){
    aside, section, article{
        width: 100px;
    }
}