/* Applies to entire website */
*{
    box-sizing: border-box;
}

/* Main Website Sections */

header {
    background-color: hsl(0, 0%, 0%);
    color: hsl(215, 100%, 75%);
    text-align: left;
    font-family: Verdana, Arial;
    padding: 25px;
}
header h1{
    margin-bottom: 3px ;
    font-size: 34px;
    font-weight: bold;
    border-bottom: 3px solid hsl(0, 0%, 100%);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
}

aside{
    width: 20%;
    float: left;
    font-family: Verdana, Arial;
}
aside p {
    text-align:justify;
}
section{
    width:80%;
    float:left;
    font-family: Verdana, Arial;
}
section p {
    text-align: center;
}

article{
    width:80%;
    float:left;
    font-family: Verdana, Arial;
}
article p {
    text-align:justify;
}

footer{
    background-color: hsl(0, 0%, 0%);
    text-align: left;
    padding: 5px;
    margin-top: auto;
    display:block; 
    clear: both; 
}


/* Navigation Bar Class */

.navbar ul {
    list-style-type: none;
    background-color: hsl(0, 0%, 90%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    color: hsl(0, 0%, 0%);
    text-decoration: none ;
    font-family: Verdana, Arial;
    font-weight: bold;
    padding: 15px;
    display: block;

}

.navbar a:hover{
    background-color: hsl(215, 100%, 75%);
}

.navbar li{
    float: left;
}

/* Main webpage logos*/
.logo {
    display: inline-block;
    margin: 5px;
    width: 200px;
}

.logo .description{

    padding: 10px;
    text-align: center;
    font-family: Verdana, Arial;
}

.logo:hover{

    border: 1px solid hsl(215, 100%, 75%);
}

.logo img{
    width: 100%;
    height:auto;
}

/* Contact Footer */
.contact {
    display: inline;
    margin: 5px;
}
.contact i{
    color: hsl(215, 100%, 75%);
}

/* Mobile/Webpage Formatting */
@media screen and (max-width:600px){
    aside, section{
        width: 100%;
    }
}